#margenav{
    margin-right: 60px;

}
body{
    background-color: #071625!important;
    padding-top: 58px; 
}
a,label,input{
    color: white;
    text-align: right;
    direction: rtl!important;
    float: right;
}
.pricee{
    color: #ff9f1a;
    margin-right: 100px;
}

.img-fluid{
    width: 100%;
    height: 100%;
    position: fixed;
}
#navbarDropdownMenuLink{
    left: auto !important;
    right: 0;
    text-align: right;
    
}

.card{
    background-color: #0d1924!important;
    background-clip: padding-box!important;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;

    
   
}
.card-body{
    background-color: #0d1924;
}
.card-title{
    color: white;
    text-align: right;
}
.card-title:hover{
    color: rgb(53, 53, 104);
}
.card-img-top{
    border-radius: 20%10%;
    height: 200px;
    box-shadow: 0px 0px 30px rgb(11, 12, 27);
    margin-top:10px;
}
.btt{
    float: right;
    width: 100px;
}

.bttt{
        float: left;
        width: 100px;
        background-color: #e29120!important;
    }
.add{
    margin-bottom: 200px;
}

.add2{
    text-align: center!important;
    width: 150px;
    margin-right: 50px!important;
    margin-top: 50px!important;
    font-weight: 600;
}
.divform{
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    width: 50%;
    margin:50px;
    margin-left: auto;
    margin-right: auto;
}
select{
    margin: 10px;
}
.subbut{
    float: left;
    margin-top: 20px;

}
.hoverr a:hover, a:visited, a:link, a:active
{
    text-decoration: none!important;
}
.alert-danger{
color: #d4d6ef!important;
background-color: #311013!important;
border-color: #1b1717!important;
}

.alert-success {
    color: #ffffff!important;
    background-color: #276f38!important;
    border-color: #1f2521!important;
}
.invoicecolor{
    background-color: white;
    text-align: right;
    margin: 20px;
}

.print {
    display:none;
}
.no-print{
    display:block;
}
@media print{
    .print {
        display:block;
    }
    .no-print{
        display:none;
    }
}

.alert-warning {
    color: #09090b!important;
    background-color: #c4d510!important;
    border-color: #ffeeba!important;
}
.alert{
    text-align: center;

}
.table-dark {
    --bs-table-bg: #0e1c28;
    --bs-table-striped-bg: #071827;
    --bs-table-striped-color: #ff9f1a;
    text-align: center;
}

.table-dark a{
    color: #ff9f1a;
    float: none;
}
.title{
    text-align: right;
    margin: 25px;
    color: #ff9f1a!important;
}
.heeee{
    text-align: right!important;
}

.textAlignCenter{
    text-align: left!important;
}

.mgTop{
    margin-top: 30px;
}

.box{
    border-bottom: 5px double #0d1924;
    border-radius: 10px;
    margin-bottom: 5px;
}

.mgTop{
    margin-top:30px;
}
.duBorder{
    padding: 30px;
    border: 10px double #000;
    
}
.action  .btn-primary {
    float: right;
}
.bg-warning {
    background-color: #d09d05!important;
}

.proname{
    color: #ff9f1a;
    text-align: right;
}
.makeorder{
    display: inline-block;
    width: 80%;
    margin: 50px;
    margin-left: auto;
    margin-right: 100px;
}
.delete{
    margin-top: 30px;
    margin-right: 15px;
}

.selectclientr{
    margin-right: -15px;
    width: 103%;
}

.foloworder{
    margin-left: 150px;
    margin-top: 50px;
    width: 120px;
}

.maneg{
    margin-top: 10px;
    text-align: left;
}

.headline{
    text-align: right;
    color: #ff9f1a;
    margin: 10px;
}

.form-inline{
    display: block!important;
}

.form-inline .btn-primary{
    float: right;
    margin-right: 40px;
}

.payhis{
    font-size: 30px;
    color: #ff9f1a!important;
    text-decoration:underline!important;
    margin-right: 120px;
}